@inherits LayoutComponentBase

<CascadingValue Value=authState>
    <MdcDrawer IsOpen=sidebarIsOpen>
        <NavMenu OnItemClicked=@ToggleSidebar />
    </MdcDrawer>

    <div class="mdc-drawer-app-content">
        <MdcTopAppBar Title="Component demos" OnNavClicked=@ToggleSidebar ScrollTarget="#main-content">

            @if (authState == null)
            {
                <MdcButton onclick="@LogIn">Log in</MdcButton>
            }
            else
            {
                <UserDisplay UserName=@authState.UserName />
                <MdcButton onclick="@LogOut">Log out</MdcButton>
            }

        </MdcTopAppBar>

        <main class="main-content" id="main-content">
            <div class="mdc-top-app-bar--fixed-adjust">
                @Body
            </div>
        </main>
    </div>
</CascadingValue>

@functions {
    bool sidebarIsOpen;

    AuthState authState = new AuthState { UserName = "steve" };

    void ToggleSidebar()
    {
        sidebarIsOpen = !sidebarIsOpen;
        StateHasChanged();
    }

    void LogIn()
    {
        authState = new AuthState { UserName = "Someone else" };
    }

    void LogOut()
    {
        authState = null;
    }
}
