<div class="mdc-list" onclick=@OnItemClicked>
    <MdcNavLink Href="" Icon="home" Text="Home" Match=NavLinkMatch.All />
    <MdcNavLink Href="events-and-binding" Icon="refresh" Text="Events and Binding" />
    <MdcNavLink Href="counter" Icon="control_point" Text="Counter" />
    <MdcNavLink Href="products" Icon="shop" Text="Products" />
    <MdcNavLink Href="override-layout" Icon="view_comfy" Text="Layout" />
    <MdcNavLink Href="routing" Icon="directions" Text="Routing" />
    <MdcNavLink Href="templated-components" Icon="extension" Text="Templated components" />
    <MdcNavLink Href="cascading-validation" Icon="done_all" Text="Validating form" />
    <MdcNavLink Href="js-interop" Icon="swap_horiz" Text="JavaScript interop" />
</div>

@functions {
    [Parameter] Action OnItemClicked { get; set; }
}
