<p>
    @Label: <strong>@Value</strong>

    <span style="color: gray">
        (child renders: <strong>@(++numRenders)</strong>)
    </span>
</p>

@functions {
    int numRenders;

    [Parameter] string Label { get; set; }
    [Parameter] int Value { get; set; }
}
