@page "/routing"
@page "/routing/{id:int}"
@page "/routing/{id:int}/{title}"
@inject IUriHelper uriHelper

<h1 class="mdc-typography--headline3">Routing</h1>

<p>ID: <strong>@Id</strong></p>
<p>Title: <strong>@Title</strong></p>
<p>Absolute URL: <strong>@uriHelper.GetAbsoluteUri()</strong></p>

<ul class="my-links">
    <li><NavLink Match=NavLinkMatch.All href="routing">No params</NavLink></li>
    <li><NavLink Match=NavLinkMatch.All href="routing/123">With ID</NavLink></li>
    <li><NavLink Match=NavLinkMatch.All href="routing/123/blah">With ID and Title</NavLink></li>
    <li><NavLink Match=NavLinkMatch.All href="routing/123/blah?a=1&b=2">With ID and Title and query</NavLink></li>
</ul>

<style>
    .my-links a.active { background-color: yellow; }
</style>

<MdcButton onclick=@(async () => { await Task.Delay(1000); uriHelper.NavigateTo("counter"); })>
    Programmatic navigation
</MdcButton>

@functions {
    [Parameter] int Id { get; set; }
    [Parameter] string Title { get; set; }

    // Workaround known issue (PR pending merge)
    public override void SetParameters(ParameterCollection parameters)
    {
        Id = default;
        Title = default;
        base.SetParameters(parameters);
    }
}
